@tailwind base;
@tailwind components;
@tailwind utilities;



html{
    font-family:'Ubuntu', sans-serif;;
}

h1{
    font-size: x-large;
    font-weight: bold;
}

.bgDesktop {
    background-image: url("../public/bg-sidebar-desktop.svg"); 
    background-repeat: no-repeat;
background-position: center;
width: 600px;
height: 600px;

}

.bgMobile{
    background-image: url("../public/bg-sidebar-mobile.svg"); 
    background-repeat: no-repeat;
    background-position:  center center ;
    background-size: cover;
    
}


