@tailwind base;
@tailwind components;
@tailwind utilities;



html{
    font-family:'Ubuntu', sans-serif;
    
}

body{
    background-color: #F0F6FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: x-large;
    font-weight: bold;
}

h2{
    font-weight: bold;
    color: #02295A;
}

h3{
    font-size: small;
}

.bgDesktop {
    background-image: url("../public/bg-sidebar-desktop.svg"); 
    background-repeat: no-repeat;
    background-position:  center center ;
    background-size: cover;

}

.bgMobile{
    background-image: url("../public/bg-sidebar-mobile.svg"); 
    background-repeat: no-repeat;
    background-position:  center center ;
    background-size: cover;
    
}


